/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Nunito, sans-serif;
    background-color: white;
}

/* ACTIVE NAV */
.nav-links a:nth-child(4) {
    color: white;
    font-weight: 600;
}

/* LAYOUT */
.menu-layout {
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

/* MAIN */
.main {
    width: 100vw;
}

.inner-items {
    width: 100%;
}

.inner-item:first-child {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner-fg {


    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    color: white;
}

.banner-fg h1 {
    font-size: 60px;
    font-weight: 500;

    color: white;
    font-family: nicotineregular;

}


.banner-fg p {
    font-size: 22px;
    color: white;
    font-family: nicotineregular;

    text-align: center;
}

#apply-now {
    margin-top: 50px;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 0, 98);
    font-size: 18px;
    font-weight: 700;

    width: 200px;
    height: 50px;
    border-radius: 50px;

    display: grid;
    place-items: center;
}

#watch {
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
}

#watch img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

#watch a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.banner-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;


}


.inner-item:first-child::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}


.inner-item:nth-child(2) {
    padding: 80px 400px;
    text-align: center;

    .mission {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 100;
        row-gap: 20px;
    }


}

.inner-item:nth-child(2) h1 {
    font-size: 36px;
}

.inner-item:nth-child(2) #fp {
    width: 500px;
    font-size: 20px;

}

.inner-item:nth-child(2) #sp {
    width: 600px;
    font-size: 20px;

}


.inner-item:nth-child(3) {
    text-align: center;

    .mission {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "title"
            "benifits";
    }

    .title {
        grid-area: title;
    }

    .benifits {
        grid-area: benifits;

        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: auto;
        gap: 20px;
        padding: 50px 0;

        align-items: center;
        justify-content: center;




        .benifit {
            width: 16rem;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            img {
                width: 80px;
            }

            h3 {
                color: rgb(56, 56, 56);
                font-weight: 600;
                font-size: 22px;
            }

            p {
                color: rgb(0, 0, 0);
                font-weight: 100;
                font-size: 15px;
            }
        }
    }



}

hr {
    width: 85vw;
    margin: 30px auto;
    border: none;
    height: 2.5px;
    background-color: rgb(220, 93, 255);
}


.inner-item:nth-child(4) {
    text-align: center;

    .mission {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "top"
            "bottom";


        p {
            line-height: 3;
        }

        .top {
            grid-area: top;
        }

        .bottom {

            grid-area: bottom;
            padding: 30px;
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "left right";


            .left {
                height: 100vh;
                align-content: center;


                .bg-img {
                    grid-area: left;
                    background: url(../res/banner/apply-grid.png) no-repeat center/cover;
                    height: 60%;
                    width: 100%;
                    align-items: center;
                }
            }

            .right {
                grid-area: right;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                form {
                    background-color: rgba(214, 214, 214, 0.405);
                    border-radius: 30px;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    width: 400px;
                    gap: 20px;



                    input {
                        height: 60px;
                        border-radius: 15px;
                        border: none;
                        padding-left: 15px;
                        outline: none;
                        font-size: 16px;
                        font-weight: 100;
                    }

                    input::placeholder {
                        font-size: 16px;
                        font-weight: 100;
                    }

                    input[type="checkbox"] {
                        height: fit-content;
                        margin-right: 5px;

                    }

                    label {
                        height: fit-content;
                        align-items: center;
                    }

                    .check {
                        display: flex;
                        flex-direction: row;
                        height: fit-content;

                    }

                    button {

                        color: white;
                        background-color: rgb(255, 0, 115);
                        font-size: 18px;
                        font-weight: 700;
                        border-radius: 30px;
                        width: 200px;
                        height: 40px;
                        border: none;
                        align-self: center;
                    }
                }




            }




        }




    }

    .title {
        grid-area: title;
    }

    .benifits {
        grid-area: benifits;

    }


}


.inner-item:nth-child(6) {
    text-align: center;

    .mission {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "title"
            "queries";
    }

    .title {
        grid-area: title;
    }

    .queries {
        width: 100vw;
        height: 100%;
        grid-area: queries;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding: 50px;

        #query-1 {
            width: fit-content;
            height: 100%;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            padding: 10px 16px;

            img {
                width: 40px;
            }

            a {
                text-decoration: none;
                color: rgb(74, 74, 74);
                font-size: 18px;
            }
        }

    }
}






.inner-item:last-child {
    padding: 20px;
    text-align: center;
    color: white;
    background: linear-gradient(to right,
            rgb(193, 119, 222),
            rgb(235, 96, 96));
}